:root {
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-color: rgb(51,49,52);
  --logo-color: rgb(216, 112, 43);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}