:root {
    background-color: rgb(51, 49, 52);
    color: white;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(51, 49, 52);
    border-radius: 10px;
    color: white;
}

.login-button {
    background-color: var(--logo-color);
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: var(--logo-color);
}