.navbar-container {
    display: flex;
    font-size: 1.5rem;
    margin: 1em 1em;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px var(--background-color), 0px 0px 40px 0px var(--background-color), 0px 0px 60px 0px var(--background-color), 0px 0px 80px 0px var(--logo-color);
    max-width: auto;
    align-items: center;
}

.navbar-links-container {
    padding: auto;
    display: flex;
    gap: 16px;
    align-items: center;
}

.navbar-links {
    text-decoration: none;
    color: white;
}

.navbar-home-container {
    display: flex;
    align-items: center;
}

.navbar-links-container:not(.navbar-home) {
    margin-left: auto;
}

.navbar-link-container.active {
    color: var(--logo-color);
}

.navbar-links:hover {
    color: var(--logo-color);
}